.App {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
h1{
  text-align: center;
}
input{
  width: 70%;
  padding: 5px;
  margin-right: 10px;
}
button{
  padding: 5px 10px;

}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 5px 10px;
}

